@page
@model ModifyCarStock
@{
    @if (Model.car.CarId == -1 )
    {
        ViewData["Title"] = "Add New Car";
    }
    else
    {
        ViewData["Title"] = "Modify Car Details";
    }

}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col" >
        @if (Model.car.CarId == -1)
        {
            <p>Please add the new car's details below</p>
        }
        else
        {
            <p>Please update the car's details below</p> 
        }
    </div>

</div>
<form class="form-horizontal" action="">
     <div class="row form-group">
         <input type="hidden" class="form-control" value="@Model.car.CarId" id="carId"/>

         <label for="carMakeId" class="control-label col-sm-2">Make</label>
         <div class="col-sm-4">
             <select id="carMakeId" class="form-control"  >
             @foreach(var make in Model.CarMakeList)
             {
               
                 @if(Model.car.CarMakeId == make.Key)
                 {
                      <option value="@make.Key.ToString()" selected=""> @make.Value.ToString()</option>
                 }
                 else{
                      <option value="@make.Key.ToString()"> @make.Value.ToString()</option>
                 }
             }
             </select>
        </div>
    </div>
    <div class="row form-group">
         <label for="carModelId" class="control-label col-sm-2">Model</label>
         <div class="col-sm-4">
             <select id="carModelId" class="form-control"  >
             @foreach(var carmodel in Model.CarModelList)
             {
                 @if(Model.car.CarModelId == carmodel.Key)
                 {
                     <option value="@carmodel.Key.ToString()" selected=""> @carmodel.Value.ToString()</option>   
                 }
                 else{
                     <option value="@carmodel.Key.ToString()"> @carmodel.Value.ToString()</option>
                 }
                
             }
             </select>
        </div>
    </div>
    <div class="row form-group">
         <label for="carTrimId" class="control-label col-sm-2">Trim Level</label>
         <div class="col-sm-4">
             <select id="carTrimId" class="form-control"  >
             @foreach(var trim in Model.CarTrimLeveList)
             {
                 @if(Model.car.CarTrimLevelId == trim.Key)
                 {
                     <option value="@trim.Key.ToString()" selected=""> @trim.Value.ToString()</option>   
                 }
                 else{
                     <option value="@trim.Key.ToString()"> @trim.Value.ToString()</option>
                 }
               
             }
             </select>
        </div>
    </div>
    <div class="row form-group">
        <label for="engineTypeId" class="control-label col-sm-2">Engine</label>
        <div class="col-sm-4">
            <select id="engineTypeId" class="form-control"  >
                @foreach(var engine in Model.CarEngineList)
                {
                    @if(Model.car.CarEngineType.EngineId == engine.Key)
                    {
                        <option value="@engine.Key.ToString()" selected="">@engine.Value.ToString()</option>
                    }
                    else{
                        <option value="@engine.Key.ToString()">@engine.Value.ToString()</option>
                    }
                    
                }
            </select>
        </div>
    </div>
    <div class="row form-group">
        <label for="price" class="control-label col-sm-2">Price</label>
        <div class="col-sm-4" > 
            <input id="price" type="number" step="0.01" class="form-control" min="0.00" value="@Model.car.Price.ToString().Replace(",",".")" />         
        </div>
    </div>
    <div class="row form-group">
        <label for="featurelist" class="control-label col-sm-2">Features</label>
        <div class="col-sm-4" >
            <select id="featurelist" class="form-control" size="3" multiple>
                @foreach(var feature in Model.FeatureList)
                {
                     @if(Model.car.Features.Contains(feature))
                     {
                         <option value="@feature.Key.ToString()" selected="">@feature.Value.ToString()</option>   
                     }
                     else{
                         <option value="@feature.Key.ToString()">@feature.Value.ToString()</option>
                     }
                }
             </select>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12" >
        <div id="Result"></div>
        <br />
    </div>
</div>

<div class="row" >
    <div class="col-sm-6">
        <button type="button" class="btn btn-labeled btn-dark" onclick="saveCar();">
            <span class="btn-label"><img src="~/pic/icon_save_white.png" height=15 width=15> Save</span>
        </button>
    
        @if (Model.car.CarId != -1 )
        {
            <button type="button" class="btn btn-labeled btn-dark"  onclick="deleteCar()">
                <span class="btn-label"><img src="~/pic/icon_delete_white.png" height=15 width=15> Delete</span>
            </button>
        }

        <button type="button" class="btn btn-labeled btn-dark" >
            <span class="btn-label"><img src="~/pic/icon_back_white.png" height=15 width=15>
                <a class="" style="text-decoration: none; color:white;" asp-area="" asp-page="/ViewCarStock">Back</a>
            </span>
        </button>
    </div>
</div>
